In [1]:
import numpy as np
import pandas as pd

In [25]:
df=pd.read_excel('new.xlsx')
df

,Timestamp,Full Name,City,Brief about your start-up,first_keyword,second_keyword
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...,make handmade products,knitted dresses
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design,craft based product design,craft based product design
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.,working professional,working professional
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea,really new,idea
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.,road safety startup,working
...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Navi Mumbai,Eco friendly and reusable cups and plates,reusable cups,eco friendly
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Mumbai,Rural Educationist,rural educationist,rural educationist
95,2020-10-02 20:28:38.458,Iba Basan,Shillong,I started with a small online btob app with th...,small online btob app,young indian men
96,2020-10-03 12:59:57.427,Jayant tiwari,Pune,Coaching,coaching,coaching
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,HYDERABAD,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health

In [26]:
df.duplicated().sum()

0

In [27]:
category=['Food & Beverage','Healthcare','Technical & Marketting','Fashion & Craft',
          'Society Welfare','Consultancy','Education','Entertainment','Miscellaneous','Yet to start']

In [28]:
startup_category=[]
for i in range(len(df)):
    if i in [26,32,52,57,65,71,77,79,91]:
        startup_category.append(category[0])
    elif i in [54,67,72]:
        startup_category.append(category[1])
    elif i in [4,8,30,66,74,75,84]:
        startup_category.append(category[2])
    elif i in [0,1,21,24,29,38,43,47,48,58,59,62,64,86,87]:
        startup_category.append(category[3])
    elif i in [31,37,39,41,60,63,85,93,97]:
        startup_category.append(category[4])
    elif i in [12,16,17,25,27,33,34,45,95]:
        startup_category.append(category[5])
    elif i in [7,50,69,73,80,94,96]:
        startup_category.append(category[6])
    elif i in [18,22,28,36]:
        startup_category.append(category[7])
    elif i in [2,6,9,10,11,13,14,16,42,46,49,53,68,70,76,81,88,90,92]:
        startup_category.append(category[8])
    else:
        startup_category.append(category[9])  
startup_category

['Fashion & Craft',
 'Fashion & Craft',
 'Miscellaneous',
 'Yet to start',
 'Technical & Marketting',
 'Yet to start',
 'Miscellaneous',
 'Education',
 'Technical & Marketting',
 'Miscellaneous',
 'Miscellaneous',
 'Miscellaneous',
 'Consultancy',
 'Miscellaneous',
 'Miscellaneous',
 'Yet to start',
 'Consultancy',
 'Consultancy',
 'Entertainment',
 'Yet to start',
 'Yet to start',
 'Fashion & Craft',
 'Entertainment',
 'Yet to start',
 'Fashion & Craft',
 'Consultancy',
 'Food & Beverage',
 'Consultancy',
 'Entertainment',
 'Fashion & Craft',
 'Technical & Marketting',
 'Society Welfare',
 'Food & Beverage',
 'Consultancy',
 'Consultancy',
 'Yet to start',
 'Entertainment',
 'Society Welfare',
 'Fashion & Craft',
 'Society Welfare',
 'Yet to start',
 'Society Welfare',
 'Miscellaneous',
 'Fashion & Craft',
 'Yet to start',
 'Consultancy',
 'Miscellaneous',
 'Fashion & Craft',
 'Fashion & Craft',
 'Miscellaneous',
 'Education',
 'Yet to start',
 'Food & Beverage',
 'Miscellaneous',
 'Healthcare',
 'Yet to start',
 'Yet to start',
 'Food & Beverage',
 'Fashion & Craft',
 'Fashion & Craft',
 'Society Welfare',
 'Yet to start',
 'Fashion & Craft',
 'Society Welfare',
 'Fashion & Craft',
 'Food & Beverage',
 'Technical & Marketting',
 'Healthcare',
 'Miscellaneous',
 'Education',
 'Miscellaneous',
 'Food & Beverage',
 'Healthcare',
 'Education',
 'Technical & Marketting',
 'Technical & Marketting',
 'Miscellaneous',
 'Food & Beverage',
 'Yet to start',
 'Food & Beverage',
 'Education',
 'Miscellaneous',
 'Yet to start',
 'Yet to start',
 'Technical & Marketting',
 'Society Welfare',
 'Fashion & Craft',
 'Fashion & Craft',
 'Miscellaneous',
 'Yet to start',
 'Miscellaneous',
 'Food & Beverage',
 'Miscellaneous',
 'Society Welfare',
 'Education',
 'Consultancy',
 'Education',
 'Society Welfare']

In [29]:
df['category']=startup_category
df

,Timestamp,Full Name,City,Brief about your start-up,first_keyword,second_keyword,category
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design,craft based product design,craft based product design,Fashion & Craft
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.,working professional,working professional,Miscellaneous
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea,really new,idea,Yet to start
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.,road safety startup,working,Technical & Marketting
...,...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Navi Mumbai,Eco friendly and reusable cups and plates,reusable cups,eco friendly,Society Welfare
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Mumbai,Rural Educationist,rural educationist,rural educationist,Education
95,2020-10-02 20:28:38.458,Iba Basan,Shillong,I started with a small online btob app with th...,small online btob app,young indian men,Consultancy
96,2020-10-03 12:59:57.427,Jayant tiwari,Pune,Coaching,coaching,coaching,Education
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,HYDERABAD,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health,Society Welfare

In [30]:
df['category'].value_counts()

Miscellaneous             18
Yet to start              17
Fashion & Craft           15
Consultancy                9
Food & Beverage            9
Society Welfare            9
Technical & Marketting     7
Education                  7
Entertainment              4
Healthcare                 3
Name: category, dtype: int64

In [31]:
df['City'].unique()

array(['Bareilly', 'Sagar', 'Pune', 'Chennai', 'MUMBAI', 'New Delhi',
       'Jabalpur', 'Pune ', 'Bangalore', 'Ghaziabad', 'Guwahati ',
       'GUWAHATI', 'hyderabad', 'London', 'VADODARA', 'Visakhapatnam',
       'Hoshangabad m.p.', 'Chintamani', 'Hyderabad ', 'Mumbai',
       'Udaipur ', 'Nagpur', 'Bareilly ', 'Hyd', 'Lucknow', 'Moradabad ',
       'Noida', 'Kurukshetra', 'Ponda Goa', 'Vadodara', 'Yamunanagar',
       'Mumbai ', 'Jagdalpur', 'Visakhapatnam ', 'VISAKHAPATNAM ',
       'Raigad', 'Guwahati', 'Nashik', 'Delhi', 'Amritsar', 'Kolkata',
       'South West Delhi', 'Hyderabad', 'Banglore', 'Dehradun', 'Patna',
       'Indore', 'RANCHI', 'Tezpur', 'Shillong', 'New delhi', 'new delhi',
       'Raipur', 'Saharsa', 'Delhi ', 'Bihar', 'Navi Mumbai', 'HYDERABAD'],
      dtype=object)

In [32]:
df['City_upd']=df['City'].map({'Pune':'Pune','Pune ':'Pune','Bareilly':'Bareilly','Bareilly ':'Bareilly', 'Sagar':'Sagar',
                               'Chennai':'Chennai','MUMBAI':'Mumbai','Mumbai':'Mumbai','Mumbai ':'Mumbai','Navi Mumbai':'Mumbai',
                               'New Delhi':'Delhi', 'Delhi':'Delhi','South West Delhi':'Delhi','New delhi':'Delhi','new delhi':'Delhi','Delhi ':'Delhi','Noida':'Delhi','Ghaziabad':'Delhi',
                               'Jabalpur':'Jabalpur','Bangalore':'Bangalore', 'Banglore':'Bangalore','London':'London',
                               'Guwahati ':'Guwahati','GUWAHATI':'Guwahati','Guwahati':'Guwahati','VADODARA':'Vadodara','Vadodara':'Vadodara','Chintamani':'Chintamani',
                               'hyderabad':'Hyderabad','Hyderabad ':'Hyderabad','Hyd':'Hyderabad','Hyderabad':'Hyderabad','HYDERABAD':'Hyderabad',
                               'Visakhapatnam':'Visakhapatnam','Visakhapatnam ':'Visakhapatnam','VISAKHAPATNAM ':'Visakhapatnam','Hoshangabad m.p.':'Hoshangabad',
                               'Udaipur ':'Udaipur','Nagpur':'Nagpur','Lucknow':'Lucknow','Moradabad ':'Moradabad',
                               'Kurukshetra':'Kurukshetra','Ponda Goa':'Ponda', 'Yamunanagar':'Yamunanagar','Jagdalpur':'Jagdalpur',
                               'Raigad':'Raigarh', 'Nashik':'Nashik', 'Amritsar':'Amritsar','Kolkata':'Kolkata',
                               'Dehradun':'Dehradun','Patna':'Patna','Indore':'Indore','RANCHI':'Ranchi','Tezpur':'Tezpur',
                               'Shillong':'Shillong','Raipur':'Raipur', 'Saharsa':'Saharsa','Bihar':'Bihar'})

In [33]:
df

,Timestamp,Full Name,City,Brief about your start-up,first_keyword,second_keyword,category,City_upd
0,2020-08-20 16:39:50.273,Mehak Nayyar,Bareilly,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly
1,2020-08-20 18:08:17.990,Anshika Jain,Sagar,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,Pune,I am a working professional.,working professional,working professional,Miscellaneous,Pune
3,2020-08-20 18:21:00.268,Monika,Chennai,Really new to this so no idea,really new,idea,Yet to start,Chennai
4,2020-08-20 19:32:41.238,Stuti Prasad,MUMBAI,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai
...,...,...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Navi Mumbai,Eco friendly and reusable cups and plates,reusable cups,eco friendly,Society Welfare,Mumbai
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Mumbai,Rural Educationist,rural educationist,rural educationist,Education,Mumbai
95,2020-10-02 20:28:38.458,Iba Basan,Shillong,I started with a small online btob app with th...,small online btob app,young indian men,Consultancy,Shillong
96,2020-10-03 12:59:57.427,Jayant tiwari,Pune,Coaching,coaching,coaching,Education,Pune
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,HYDERABAD,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health,Society Welfare,Hyderabad

In [34]:
df.drop(columns='City',inplace=True)
df.head()

,Timestamp,Full Name,Brief about your start-up,first_keyword,second_keyword,category,City_upd
0,2020-08-20 16:39:50.273,Mehak Nayyar,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly
1,2020-08-20 18:08:17.990,Anshika Jain,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,I am a working professional.,working professional,working professional,Miscellaneous,Pune
3,2020-08-20 18:21:00.268,Monika,Really new to this so no idea,really new,idea,Yet to start,Chennai
4,2020-08-20 19:32:41.238,Stuti Prasad,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai

In [35]:
df.columns

Index(['Timestamp', 'Full Name', 'Brief about your start-up ', 'first_keyword',
       'second_keyword', 'category', 'City_upd'],
      dtype='object')

In [36]:
df.columns=['Timestamp', 'Full Name', 'Brief about your start-up ', 'first_keyword',
       'second_keyword', 'Category', 'City']
df

,Timestamp,Full Name,Brief about your start-up,first_keyword,second_keyword,Category,City
0,2020-08-20 16:39:50.273,Mehak Nayyar,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly
1,2020-08-20 18:08:17.990,Anshika Jain,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,I am a working professional.,working professional,working professional,Miscellaneous,Pune
3,2020-08-20 18:21:00.268,Monika,Really new to this so no idea,really new,idea,Yet to start,Chennai
4,2020-08-20 19:32:41.238,Stuti Prasad,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai
...,...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Eco friendly and reusable cups and plates,reusable cups,eco friendly,Society Welfare,Mumbai
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Rural Educationist,rural educationist,rural educationist,Education,Mumbai
95,2020-10-02 20:28:38.458,Iba Basan,I started with a small online btob app with th...,small online btob app,young indian men,Consultancy,Shillong
96,2020-10-03 12:59:57.427,Jayant tiwari,Coaching,coaching,coaching,Education,Pune
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health,Society Welfare,Hyderabad

In [38]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA

In [55]:
score=[]
for i in range(len(df)):
    score.append(SIA().polarity_scores(df['Brief about your start-up '][i]))
score

[{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.323, 'neu': 0.677, 'pos': 0.0, 'compound': -0.4341},
 {'neg': 0.0, 'neu': 0.641, 'pos': 0.359, 'compound': 0.4215},
 {'neg': 0.0, 'neu': 0.71, 'pos': 0.29, 'compound': 0.5994},
 {'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'compound': 0.8248},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.605, 'pos': 0.395, 'compound': 0.946},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.732, 'pos': 0.268, 'compound': 0.5267},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.75, 'pos': 0.25, 'compound': 0.4588},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.522, 'pos': 0.478, 'compound': 0.6705},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.794, 'pos': 0.206, 'compound': 0.0772},
 {'neg': 0.0, 'neu': 0.639, 'pos': 0.361, 'compound': 0.8625},
 {'neg': 0.0, 'neu': 0.263, 'pos': 0.737, 'compound': 0.4215},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.868, 'pos': 0.132, 'compound': 0.4404},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.263, 'pos': 0.737, 'compound': 0.4215},
 {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.4939},
 {'neg': 0.0, 'neu': 0.741, 'pos': 0.259, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 0.809, 'pos': 0.191, 'compound': 0.3818},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.017, 'neu': 0.861, 'pos': 0.122, 'compound': 0.9294},
 {'neg': 0.017, 'neu': 0.861, 'pos': 0.122, 'compound': 0.9294},
 {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.6249},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.769, 'pos': 0.231, 'compound': 0.6249},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.023, 'neu': 0.977, 'pos': 0.0, 'compound': -0.2263},
 {'neg': 0.138, 'neu': 0.862, 'pos': 0.0, 'compound': -0.1531},
 {'neg': 0.0, 'neu': 0.815, 'pos': 0.185, 'compound': 0.4754},
 {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.128},
 {'neg': 0.0, 'neu': 0.633, 'pos': 0.367, 'compound': 0.4404},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.817, 'pos': 0.183, 'compound': 0.7717},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.907, 'pos': 0.093, 'compound': 0.4588},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.795, 'pos': 0.205, 'compound': 0.4767},
 {'neg': 0.0, 'neu': 0.676, 'pos': 0.324, 'compound': 0.5859},
 {'neg': 0.0, 'neu': 0.526, 'pos': 0.474, 'compound': 0.4019},
 {'neg': 0.0, 'neu': 0.877, 'pos': 0.123, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'compound': 0.0772},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 0.721, 'pos': 0.279, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.884, 'pos': 0.116, 'compound': 0.2732},
 {'neg': 0.0, 'neu': 0.629, 'pos': 0.371, 'compound': 0.6486},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.867, 'pos': 0.133, 'compound': 0.6369},
 {'neg': 0.0, 'neu': 0.706, 'pos': 0.294, 'compound': 0.3612},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'compound': 0.0772},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.78, 'pos': 0.22, 'compound': 0.7579},
 {'neg': 0.0, 'neu': 0.652, 'pos': 0.348, 'compound': 0.4939},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.199, 'neu': 0.73, 'pos': 0.071, 'compound': -0.6249},
 {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 {'neg': 0.0, 'neu': 0.847, 'pos': 0.153, 'compound': 0.9952}]

In [56]:
df['score']=pd.DataFrame(score)['compound']
df

,Timestamp,Full Name,Brief about your start-up,first_keyword,second_keyword,Category,City,score
0,2020-08-20 16:39:50.273,Mehak Nayyar,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly,0.0000
1,2020-08-20 18:08:17.990,Anshika Jain,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar,0.0000
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,I am a working professional.,working professional,working professional,Miscellaneous,Pune,0.0000
3,2020-08-20 18:21:00.268,Monika,Really new to this so no idea,really new,idea,Yet to start,Chennai,-0.4341
4,2020-08-20 19:32:41.238,Stuti Prasad,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai,0.4215
...,...,...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Eco friendly and reusable cups and plates,reusable cups,eco friendly,Society Welfare,Mumbai,0.4939
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Rural Educationist,rural educationist,rural educationist,Education,Mumbai,0.0000
95,2020-10-02 20:28:38.458,Iba Basan,I started with a small online btob app with th...,small online btob app,young indian men,Consultancy,Shillong,-0.6249
96,2020-10-03 12:59:57.427,Jayant tiwari,Coaching,coaching,coaching,Education,Pune,0.0000
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health,Society Welfare,Hyderabad,0.9952

In [57]:
Sentiment=[]
for i in range(len(df)):
    if df['score'][i]==0:
        Sentiment.append('Neutral')
    elif df['score'][i]>0:
        Sentiment.append('Positive')
    else:
        Sentiment.append('Negative')
Sentiment

['Neutral',
 'Neutral',
 'Neutral',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Negative',
 'Negative',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Neutral',
 'Positive',
 'Neutral',
 'Neutral',
 'Positive',
 'Positive',
 'Positive',
 'Positive',
 'Neutral',
 'Neutral',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Positive',
 'Neutral',
 'Positive',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Neutral',
 'Positive',
 'Positive',
 'Neutral',
 'Negative',
 'Neutral',
 'Positive']

In [58]:
df['Sentiment']=Sentiment
df.head()

,Timestamp,Full Name,Brief about your start-up,first_keyword,second_keyword,Category,City,score,Sentiment
0,2020-08-20 16:39:50.273,Mehak Nayyar,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly,0.0000,Neutral
1,2020-08-20 18:08:17.990,Anshika Jain,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar,0.0000,Neutral
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,I am a working professional.,working professional,working professional,Miscellaneous,Pune,0.0000,Neutral
3,2020-08-20 18:21:00.268,Monika,Really new to this so no idea,really new,idea,Yet to start,Chennai,-0.4341,Negative
4,2020-08-20 19:32:41.238,Stuti Prasad,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai,0.4215,Positive

In [59]:
df['City'].unique()

array(['Bareilly', 'Sagar', 'Pune', 'Chennai', 'Mumbai', 'Delhi',
       'Jabalpur', 'Bangalore', 'Guwahati', 'Hyderabad', 'London',
       'Vadodara', 'Visakhapatnam', 'Hoshangabad', 'Chintamani',
       'Udaipur', 'Nagpur', 'Lucknow', 'Moradabad', 'Kurukshetra',
       'Ponda', 'Yamunanagar', 'Jagdalpur', 'Raigarh', 'Nashik',
       'Amritsar', 'Kolkata', 'Dehradun', 'Patna', 'Indore', 'Ranchi',
       'Tezpur', 'Shillong', 'Raipur', 'Saharsa', 'Bihar'], dtype=object)

In [60]:
state=[]
for i in range(len(df)):
    if df['City'][i] in ['Bareilly','Lucknow','Moradabad']:
        state.append('Uttar Pradesh')
    elif df['City'][i] in ['Sagar','Jabalpur','Hoshangabad','Indore']:
        state.append('Madhya Pradesh')
    elif df['City'][i] in ['Pune','Mumbai','Nagpur','Nashik']:
        state.append('Maharashtra')
    elif df['City'][i] in ['Chennai']:
        state.append('Tamil Nadu')
    elif df['City'][i] in ['Delhi']:
        state.append('Delhi')
    elif df['City'][i] in ['Bangalore','Chintamani']:
        state.append('Karnataka')
    elif df['City'][i] in ['Guwahati','Tezpur']:
        state.append('Assam')
    elif df['City'][i] in ['Hyderabad']:
        state.append('Telangana')
    elif df['City'][i] in ['London']:
        state.append('London')
    elif df['City'][i] in ['Vadodara']:
        state.append('Gujarat')
    elif df['City'][i] in ['Visakhapatnam']:
        state.append('Andhra Pradesh')
    elif df['City'][i] in ['Udaipur']:
        state.append('Rajasthan')
    elif df['City'][i] in ['Kurukshetra','Yamunanagar']:
        state.append('Haryana')
    elif df['City'][i] in ['Ponda']:
        state.append('Goa')
    elif df['City'][i] in ['Jagdalpur','Raigarh','Raipur']:
        state.append('Chhattisgarh')
    elif df['City'][i] in ['Amritsar']:
        state.append('Punjab')
    elif df['City'][i] in ['Kolkata']:
        state.append('West Bengal')
    elif df['City'][i] in ['Dehradun']:
        state.append('Uttarakhand')
    elif df['City'][i] in ['Patna','Saharsa','Bihar']:
        state.append('Bihar')
    elif df['City'][i] in ['Ranchi']:
        state.append('Jharkhand')
    elif df['City'][i] in ['Shillong']:
        state.append('Meghalaya')
state

['Uttar Pradesh',
 'Madhya Pradesh',
 'Maharashtra',
 'Tamil Nadu',
 'Maharashtra',
 'Delhi',
 'Madhya Pradesh',
 'Maharashtra',
 'Karnataka',
 'Delhi',
 'Assam',
 'Assam',
 'Assam',
 'Telangana',
 'London',
 'Gujarat',
 'Andhra Pradesh',
 'Maharashtra',
 'Maharashtra',
 'Assam',
 'Madhya Pradesh',
 'Karnataka',
 'Telangana',
 'Maharashtra',
 'Maharashtra',
 'Rajasthan',
 'Maharashtra',
 'Maharashtra',
 'Telangana',
 'Uttar Pradesh',
 'Telangana',
 'Uttar Pradesh',
 'Uttar Pradesh',
 'Delhi',
 'Delhi',
 'Haryana',
 'Maharashtra',
 'Maharashtra',
 'Goa',
 'Gujarat',
 'Haryana',
 'Uttar Pradesh',
 'Maharashtra',
 'Karnataka',
 'Chhattisgarh',
 'Andhra Pradesh',
 'Andhra Pradesh',
 'Andhra Pradesh',
 'Andhra Pradesh',
 'Maharashtra',
 'Delhi',
 'Chhattisgarh',
 'Karnataka',
 'Maharashtra',
 'Assam',
 'Maharashtra',
 'Delhi',
 'Karnataka',
 'Maharashtra',
 'Maharashtra',
 'Punjab',
 'Maharashtra',
 'West Bengal',
 'Delhi',
 'Maharashtra',
 'Maharashtra',
 'Telangana',
 'Assam',
 'Karnataka',
 'Uttarakhand',
 'Maharashtra',
 'Bihar',
 'Maharashtra',
 'Madhya Pradesh',
 'Jharkhand',
 'Assam',
 'Maharashtra',
 'Meghalaya',
 'Maharashtra',
 'Delhi',
 'Delhi',
 'Delhi',
 'Chhattisgarh',
 'Bihar',
 'Assam',
 'Delhi',
 'Karnataka',
 'Delhi',
 'Delhi',
 'Delhi',
 'Bihar',
 'Bihar',
 'Assam',
 'Maharashtra',
 'Maharashtra',
 'Meghalaya',
 'Maharashtra',
 'Telangana']

In [61]:
df['State']=state
df

,Timestamp,Full Name,Brief about your start-up,first_keyword,second_keyword,Category,City,score,Sentiment,State
0,2020-08-20 16:39:50.273,Mehak Nayyar,Make handmade products at home related to knit...,make handmade products,knitted dresses,Fashion & Craft,Bareilly,0.0000,Neutral,Uttar Pradesh
1,2020-08-20 18:08:17.990,Anshika Jain,Craft based product design,craft based product design,craft based product design,Fashion & Craft,Sagar,0.0000,Neutral,Madhya Pradesh
2,2020-08-20 18:14:07.821,Bhairavee Pradhan-Nitave,I am a working professional.,working professional,working professional,Miscellaneous,Pune,0.0000,Neutral,Maharashtra
3,2020-08-20 18:21:00.268,Monika,Really new to this so no idea,really new,idea,Yet to start,Chennai,-0.4341,Negative,Tamil Nadu
4,2020-08-20 19:32:41.238,Stuti Prasad,I am working with a road safety startup.,road safety startup,working,Technical & Marketting,Mumbai,0.4215,Positive,Maharashtra
...,...,...,...,...,...,...,...,...,...,...
93,2020-10-02 10:55:11.504,Nancy Felix,Eco friendly and reusable cups and plates,reusable cups,eco friendly,Society Welfare,Mumbai,0.4939,Positive,Maharashtra
94,2020-10-02 17:28:00.851,Renuka Deshmukh,Rural Educationist,rural educationist,rural educationist,Education,Mumbai,0.0000,Neutral,Maharashtra
95,2020-10-02 20:28:38.458,Iba Basan,I started with a small online btob app with th...,small online btob app,young indian men,Consultancy,Shillong,-0.6249,Negative,Meghalaya
96,2020-10-03 12:59:57.427,Jayant tiwari,Coaching,coaching,coaching,Education,Pune,0.0000,Neutral,Maharashtra
97,2020-10-09 14:17:28.803,SAJJA SAI PRIYANKA,Artha Samarth is a social venture aimed to bui...,newly established ngos would require,ensuring better financial health,Society Welfare,Hyderabad,0.9952,Positive,Telangana

In [62]:
df.to_excel('updated_data.xlsx',index=False)