In [1]:
import numpy as np
import pandas as pd

In [23]:
df=pd.read_excel('Women Entrepreneurs Meetup (Responses).xlsx')
df

                 Timestamp  ...                         Brief about your start-up
0  2020-08-20 16:39:50.273  ...  Make handmade products at home related to knit...
1  2020-08-20 18:08:17.990  ...                         Craft based product design
2  2020-08-20 18:14:07.821  ...                       I am a working professional.
3  2020-08-20 18:21:00.268  ...                    Really new to this  so no idea
4  2020-08-20 19:32:41.238  ...           I am working with a road safety startup.
..                     ...  ...                                                ...
93 2020-10-02 10:55:11.504  ...          Eco friendly and reusable cups and plates
94 2020-10-02 17:28:00.851  ...                                Rural Educationist
95 2020-10-02 20:28:38.458  ...  I started with a small online btob app with th...
96 2020-10-03 12:59:57.427  ...                                           Coaching
97 2020-10-09 14:17:28.803  ...  Artha Samarth is a social venture aimed to bui...

[98 rows x 4 columns]

In [24]:
pip install rake-nltk

Requirement already satisfied: rake-nltk in /usr/local/lib/python3.6/dist-packages (1.0.4)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from rake-nltk) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->rake-nltk) (1.15.0)

In [26]:
from rake_nltk import Rake

In [27]:
r=Rake()
r.extract_keywords_from_text(df['Brief about your start-up '][0])
r.get_ranked_phrases_with_scores()[:2]

[(9.0, 'make handmade products'), (4.0, 'knitted dresses')]

In [28]:
df['keyword']=df['Brief about your start-up ']

In [29]:
df

                 Timestamp  ...                                            keyword
0  2020-08-20 16:39:50.273  ...  Make handmade products at home related to knit...
1  2020-08-20 18:08:17.990  ...                         Craft based product design
2  2020-08-20 18:14:07.821  ...                       I am a working professional.
3  2020-08-20 18:21:00.268  ...                    Really new to this  so no idea
4  2020-08-20 19:32:41.238  ...           I am working with a road safety startup.
..                     ...  ...                                                ...
93 2020-10-02 10:55:11.504  ...          Eco friendly and reusable cups and plates
94 2020-10-02 17:28:00.851  ...                                Rural Educationist
95 2020-10-02 20:28:38.458  ...  I started with a small online btob app with th...
96 2020-10-03 12:59:57.427  ...                                           Coaching
97 2020-10-09 14:17:28.803  ...  Artha Samarth is a social venture aimed to bui...

[98 rows x 5 columns]

In [31]:

for i in range(len(df)):
  r=Rake()
  r.extract_keywords_from_text(df['Brief about your start-up '][i])
  df['keyword'][i]=r.get_ranked_phrases_with_scores()[:2]
  
  
df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                 Timestamp  ...                                            keyword
0  2020-08-20 16:39:50.273  ...  [(9.0, make handmade products), (4.0, knitted ...
1  2020-08-20 18:08:17.990  ...               [(16.0, craft based product design)]
2  2020-08-20 18:14:07.821  ...                      [(4.0, working professional)]
3  2020-08-20 18:21:00.268  ...                   [(4.0, really new), (1.0, idea)]
4  2020-08-20 19:32:41.238  ...       [(9.0, road safety startup), (1.0, working)]
..                     ...  ...                                                ...
93 2020-10-02 10:55:11.504  ...        [(4.0, reusable cups), (4.0, eco friendly)]
94 2020-10-02 17:28:00.851  ...                        [(4.0, rural educationist)]
95 2020-10-02 20:28:38.458  ...  [(16.0, small online btob app), (9.0, young in...
96 2020-10-03 12:59:57.427  ...                                  [(1.0, coaching)]
97 2020-10-09 14:17:28.803  ...  [(18.933333333333334, newly established ngos w...

[98 rows x 5 columns]

In [33]:
type(df['keyword'][0])

list

In [35]:
len(df['keyword'][1])

1

In [36]:
first_keyword=[]
second_keyword=[]
for i in range(len(df)):
  first_keyword.append(df['keyword'][i][0][1])
  if len(df['keyword'][i])<2:
    second_keyword.append(df['keyword'][i][0][1])
  else:
    second_keyword.append(df['keyword'][i][1][1])

In [37]:
first_keyword

['make handmade products',
 'craft based product design',
 'working professional',
 'really new',
 'road safety startup',
 'however interested',
 'year 2018',
 'french learning academy based',
 'leaning selectively new technology interests',
 'looking forward',
 'kishma venture pvt ltd',
 'kishma venture pvt ltd',
 'entrepreneurship education',
 'real estate consultant',
 '4 start ups',
 'student',
 'urban research',
 'independent consultancy',
 'creative agency focused',
 'startup till',
 'business ..',
 'run small boutique called',
 'cricket entertainment',
 'yet started',
 'design women clothing',
 'first remote work consultancy',
 'spices business',
 'transformation life coach',
 'cricket entertainment',
 'make hand made dresses',
 'well',
 'startup focused upon law awareness',
 'home bakery',
 'extremely good subject matter experts',
 'extremely good subject matter experts',
 'great',
 'fulltime working professional',
 'ngo working',
 'home made veg masala',
 'school going girls',
 'start one',
 'way durgabai deshmukh',
 'legal',
 'diy handmade craft',
 'looking',
 'digital marketing company',
 'wedding essentials',
 'paper sculpture',
 'paper sculpture',
 'story based perfume company',
 'inclusive learning environment',
 'start',
 'catering business',
 'homemaker',
 'wellness organization ...',
 'start',
 'business consultant helping start',
 'catering business soon',
 'handcrafted products',
 'never fades .... trendy',
 'section 8 company aiming',
 'interested ur bussins',
 'various materials',
 'water management',
 'marketing',
 'cake shop franchise',
 'end media tech travel startup',
 'yoga startup initially',
 'free grain dissertation systems',
 'freelancer teacher',
 'agriculture livelihood activities',
 'ups soon',
 'fitness trainer based',
 'active learner seizing opportunities',
 'aspiring game designer',
 'digital marketing',
 'womens products',
 'healthy foods like consuming',
 'someting',
 'bakery',
 'education',
 'gshsjsbsvshh',
 'currently pursuing bcom',
 'want',
 'web development agency',
 'educate add spread awareness',
 'women group',
 'online clothing store',
 'cup designing',
 'started yet',
 'cup designing',
 'chole bhature home delivery',
 'food related blogs right',
 'reusable cups',
 'rural educationist',
 'small online btob app',
 'coaching',
 'newly established ngos would require']

In [38]:
second_keyword

['knitted dresses',
 'craft based product design',
 'working professional',
 'idea',
 'working',
 'started',
 'women empowerment',
 'plume french academy',
 'thanks mkr team',
 'family business',
 'kishma venture pvt ltd',
 'kishma venture pvt ltd',
 'training',
 'digital marketer',
 'different industries',
 'possibility',
 'civic engagement',
 'content advisor',
 'film production',
 'startup till',
 'want',
 'clothing like tops',
 'cricket entertainment',
 'idea stage',
 'startup goal',
 'india ’',
 'nagpur',
 'mind power trainer',
 'cricket entertainment',
 'also make mask',
 'growthhacker',
 'associated social impact',
 'started',
 'largest online mentorship community',
 'largest online mentorship community',
 'great',
 'travel blog',
 'handcrafted products',
 'blouse stitching',
 'tech sector',
 'start',
 'journalism really want',
 'legal',
 'gift items',
 'ideas',
 'virtual assistance',
 'pooja',
 'macrame',
 'macrame',
 'fragrance story',
 'learning portal',
 'looking',
 'catering business',
 'homemaker',
 'providing organic content',
 'planning',
 'potential entrepreneurs starting',
 'planning',
 'crafts journey',
 'traditional outfits',
 'rural punjab',
 'interested ur bussins',
 'aspiring entrepreneur',
 'water management',
 'design',
 'want',
 'end',
 'womens',
 'manufacture chemical',
 'freelancer teacher',
 'marginalised women',
 'pr firm',
 'yoga instructor',
 'mba aspirants',
 'aspiring game designer',
 'app development',
 'marketing',
 'pure foods',
 'like',
 'bakery',
 'education',
 'gshsjsbsvshh',
 'startup initially',
 'want',
 'digital marketing',
 'women sensitive issues',
 'handicraft',
 'social media',
 'cup designing',
 'started yet',
 'cup designing',
 'chole bhature home delivery',
 'sharing delicious memory',
 'eco friendly',
 'rural educationist',
 'young indian men',
 'coaching',
 'ensuring better financial health']

In [39]:
df['first_keyword']=first_keyword
df['second_keyword']=second_keyword
df

                 Timestamp  ...                    second_keyword
0  2020-08-20 16:39:50.273  ...                   knitted dresses
1  2020-08-20 18:08:17.990  ...        craft based product design
2  2020-08-20 18:14:07.821  ...              working professional
3  2020-08-20 18:21:00.268  ...                              idea
4  2020-08-20 19:32:41.238  ...                           working
..                     ...  ...                               ...
93 2020-10-02 10:55:11.504  ...                      eco friendly
94 2020-10-02 17:28:00.851  ...                rural educationist
95 2020-10-02 20:28:38.458  ...                  young indian men
96 2020-10-03 12:59:57.427  ...                          coaching
97 2020-10-09 14:17:28.803  ...  ensuring better financial health

[98 rows x 7 columns]

In [40]:
df.drop(columns='keyword',inplace=True)

In [41]:
df.head()

                Timestamp  ...              second_keyword
0 2020-08-20 16:39:50.273  ...             knitted dresses
1 2020-08-20 18:08:17.990  ...  craft based product design
2 2020-08-20 18:14:07.821  ...        working professional
3 2020-08-20 18:21:00.268  ...                        idea
4 2020-08-20 19:32:41.238  ...                     working

[5 rows x 6 columns]

In [42]:
df.to_excel('new.xlsx',index=False)